body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:link,
a:visited,
a:active,
a:hover {
    color: var(--white);
    text-decoration: underline;
    font-size: 1em;
    position: absolute;
    top: 2em;
    left: 2em;
}

main {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 3em;
    text-align: center;
}

main>div {
    width: 90%;
    max-width: 900px;
}

.title {
    font-family: Frames;
    font-weight: 700;
    color: var(--white);
    width: 100%;
    font-size: 4.5em;
    margin: 1em 0 0.5em 0;
    letter-spacing: 0.27em;
    word-break: break-word;
}

main p {
    color: var(--white);
    width: 100%;
    max-width: 900px;
    line-height: 150%;
    margin: 0 0 2em 0;
    word-break: break-word;
}

img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin-bottom: 5em;
}

@media (max-width: 600px) {
    .title {
        font-size: 2.4em;
        letter-spacing: 0.12em;
        padding-top: 2em;
    }

    main>div {
        width: 90%;
    }

    main p {
        width: 90%;
    }

    img {
        width: 100%;
    }
}