main {
    row-gap: 25px;
}

section {
    border: 3px solid var(--black);
    padding-top: 30px;
    padding-left: 30px;
    width: 80vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
    position: relative;
}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 25px;
    padding-bottom: 25px;
    transition: height 1s;
}

section p {
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    margin: 0;
}

section p:first-child {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
}

article {
    background-color: var(--black);
    flex-shrink: 0;
    width: 25vw;
    overflow: hidden;
    padding: 25px;
    transition: all 0.8s ease-in-out;
    margin-top: 25px;
}

.imgcard {
    height: 80%;
    margin: 0px;
    width: 100%;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
    align-self: flex-start;
}

.imgcard:hover {
    height: 100%;
    width: 100%;
}

article h1,
article p,
article h1 a {
    color: var(--white);
}

article h1 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 125%;
    margin-top: 20px;
    margin-bottom: 15px;
}

article h1:hover {
    text-decoration: underline;
}

article.hover {
    cursor: pointer;
    padding: 0px;
    width: calc(30vw + 50px);
    transition: all 0.8s ease-in-out;
}

article.hidden {
    padding: 0px;
    transition: all 0.8s ease-in-out;
}

section a:last-child {
    padding-right: 25px;
}

@media screen and (max-width: 1280px) {
    article {
        width: 40vw;
    }

    article.hover {
        width: calc(45vw + 50px);
        padding: 0;
    }

    article h1 {
        font-size: 1.6em;
    }
}

@media screen and (max-width:720px) {
    article {
        width: 70vw;
    }

    article.hover {
        width: calc(75vw + 50px);
        padding: 0;
    }

    section p {
        font-size: 0.9em;
    }
}

.hidden {
    height: 0px;
    padding-bottom: 0;
    transition: height 1s;
}